.home{
  background-color: #000000;
  min-height: 100vh;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main{
  background-color: #150050;
  height: 90vh;
  width: 95%;
  border-radius: 30px;
}
.App {
  text-color: white;
}