/* General Styles */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Montserrat, sans-serif;
}

/* Logo Styles */
.logo {
    height: 100%;
    width: 150px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 24px;
}

.logo img {
    height: 90px;
    width: 90px;
    border-radius: 0 0 20px 20px;
}

/* Navigation Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.menu,
.accounts {
    height: 100%;
    display: flex;
    align-items: center;
}

.menu ul,
.accounts ul {
    display: flex;
    gap: 20px;
}

.menu ul li,
.accounts ul li,
button {
    list-style-type: none;
    font-size: 18px;
    font-weight: 500;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.menu ul li,
.accounts ul li {
    font-weight: 600;
}

button {
    font-weight: 600;
    background-color: #F6BD60;
    color: #F7EDE2;
}

/* Optional: Add hover effects */
button:hover {
    background-color: #F9C74F;
}

.menu ul li:hover,
.accounts ul li:hover {
    background-color: #F9C74F;
}
